*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Popins' sans-serif; */
  font-family: 'Roboto' sans-serif;
}
.text{
  align-items: center;
}
body{
  height: 100vh;
  width: 100%;
  /* background: pink; */
  /* background: linear-gradient(135deg, #56d8e4 10%, #9f01ea 90%); */
}
body::-webkit-scrollbar{
  display: none;
}
body ::-webkit-input-placeholder{
  font-size: 17px;
}